
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THS5B6"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header id="header">
      <a class="header-fixedImg" href="https://www.ckd.co.jp/en/">
        <img src="<%= path %>assets/images/header_logo.svg" alt="">
      </a>
      <div class="header-inner">
        <a class="top-scroll pc" href="<%= path %>">PAGE TOP</a>
        <a class="top-scroll sp" href="<%= path %>">PAGE<br>TOP</a>
        <a class="contact-btn" target="_blank" href="https://www.ckd-contact.com/pc/enquete/contact/english/products/?ckd_location=102">
            Contact
        </a>
        <div id="nav-toggle">
          <div class="bar-wrap">
            <div class="bar _1"></div>
            <div class="bar _2"></div>
            <div class="bar _3"></div>
          </div>
        </div>
        <!-- <div id="jssideLine" class="sideLine"></div> -->
        <nav id="g-nav">
          <ul class="list">
            <li class="item arrow"><a href="<%= path %>">TOP</a></li>
            <li class="item arrow"><a href="<%= path %>problem/">To Solve These Problems</a></li>
            <li class="item arrow"><a href="<%= path %>feature/">Features of PAW</a></li>
            <li class="item arrow"><a href="<%= path %>showroom/">Showroom / Demo</a></li>
            <li class="item arrow"><a href="<%= path %>case/">Case Study</a></li>
            <li class="item arrow"><a href="<%= path %>story/">Development Story</a></li>
            <li class="item arrow"><a href="<%= path %>attachment/">Attachment Examples</a></li>
            <li class="item arrow"><a href="<%= path %>subsidy/">Subsidy Program</a></li>
            <li class="item arrow"><a href="<%= path %>product/">Related Products</a></li>
            <li class="item arrow"><a href="<%= path %>faq/">FAQ</a></li>
            <li class="item arrow"><a href="<%= path %>ar/">AR Experience</a></li>
            <li class="item lang">
              <a data-lang="/jp/" id="lang-jp" class="c-en-bold js-lang-button" href="#">JP</a>
              <a data-lang="/en/" id="lang-en" class="active c-en-bold js-lang-button" href="#">EN</a>
              <a data-lang="/sc/" id="lang-sc" class="c-en-bold js-lang-button" href="#">ZH</a>
            </li>
          </ul>
        </nav>
        <div id="nav-bg"></div>
      </div>
</header>
