
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THS5B6"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header id="header">
      <a class="header-fixedImg" href="https://www.ckd.co.jp/">
        <img src="<%= path %>assets/images/header_logo.svg" alt="">
      </a>
      <div class="header-inner">
        <a class="top-scroll pc" href="<%= path %>">PAGE TOP</a>
        <a class="top-scroll sp" href="<%= path %>">PAGE<br>TOP</a>
        <a class="contact-btn" target="_blank" href="https://www.ckd-contact.com/pc/enquete/powerarm/">
            お問い合わせ
        </a>
        <div id="nav-toggle">
          <div class="bar-wrap">
            <div class="bar _1"></div>
            <div class="bar _2"></div>
            <div class="bar _3"></div>
          </div>
        </div>
        <!-- <div id="jssideLine" class="sideLine"></div> -->
        <nav id="g-nav">
          <ul class="list">
            <li class="item arrow"><a href="<%= path %>">TOP</a></li>
            <li class="item arrow"><a href="<%= path %>problem/">こんな課題の解決に</a></li>
            <li class="item arrow"><a href="<%= path %>feature/">PAWの特徴</a></li>
            <li class="item arrow"><a href="<%= path %>showroom/">ショールーム・デモ</a></li>
            <li class="item arrow"><a href="<%= path %>case/">導入事例</a></li>
            <li class="item arrow"><a href="<%= path %>story/">開発秘話</a></li>
            <li class="item arrow"><a href="<%= path %>attachment/">アタッチメント例</a></li>
            <li class="item arrow"><a href="<%= path %>subsidy/">補助金制度</a></li>
            <li class="item arrow"><a href="<%= path %>product/">関連商品</a></li>
            <li class="item arrow"><a href="<%= path %>faq/">FAQ</a></li>
            <li class="item arrow"><a href="<%= path %>ar/">AR体験</a></li>
            <li class="item lang">
                <a class="active c-en-bold" href="<%= path %>jp/">JP</a>
                <a class="c-en-bold" href="<%= path %>en/">EN</a>
                <a class="c-en-bold" href="<%= path %>faq/">ZH</a>
            </li>
          </ul>
        </nav>
        <div id="nav-bg"></div>
      </div>
</header>
